astunparse==1.6.3
blinker==1.4
cached-property==1.5.2
Cython==0.29.23
Flask==2.1.0
flatbuffers==2.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
joblib==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
libclang==13.0.0
lightgbm==3.3.2
llvmlite==0.38.0
munkres==1.1.4
pickle-mixin==1.0.2
plotly-express==0.4.1
protobuf==3.19.4
pyarrow==7.0.0
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pywin32==303
scipy==1.7.3
tensorboard-data-server==0.6.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
tf-estimator-nightly==2.8.0.dev2021122109
typing_extensions==4.1.1
webencodings==0.5.1
Werkzeug==2.1.0
gunicorn